@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

body {
    font-family: Fauna One, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

/* headings and logo */

h1,
h2 {
    font-family: Cinzel, sans-serif;
    font-weight: bolder;
}

#logo {
    float: left;
    font-size: 250%;
    color: rgb(114, 254, 26);
}

/* navigation links */

#links {
    letter-spacing: 4px;
    float: right;
    font-size: 105%;

}

#links li {
    list-style-type: none;
    margin-right: 15px;
    display: inline;
}

#links a {
    text-decoration: none;
    color: inherit;
}

#logo,
#links {
    line-height: 70px;
}

/* section image and text  */

#home-section {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#intro-text {
    text-align: center;
    padding-top: 10em;
    line-height: 30px;

}

#intro-text span {
    color: rgb(114, 254, 26);
    font-family: Cinzel, sans-serif;
    font-size: 130%;
}

#intro-text a {
    font-size: 130%;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(114, 254, 26);
}

/* Image downloaded at Pexxels.com */
#section-image {
    height: 500px;
    width: 50%;
    background: url('../images/Lan.jpg') no-repeat center center;
    background-size: cover;
    float: left;
}